services:
  alertmanager:
    image: {{ alertmanager_image }}
    container_name: alertmanager
    restart: unless-stopped

    ports:
      - "{{ ansible_host }}:{{ alertmanager_port }}:9093"

    volumes:
      - ./alertmanager.yml:/etc/alertmanager/alertmanager.yml:ro
      - ./data:/alertmanager

    command:
      - "--config.file=/etc/alertmanager/alertmanager.yml"
      - "--storage.path=/alertmanager"
      - "--web.external-url={{ alertmanager_external_url }}"
      - "--web.listen-address=0.0.0.0:9093"

    networks:
      - default
      - {{ docker_network_name }}

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  prometheus-alert:
    image: {{ prometheus_alert_image }}
    container_name: prometheus-alert
    restart: unless-stopped

    volumes:
      - ./prometheus-fs.tpl:/app/prometheus-fs.tpl:ro

    networks:
      - default

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  {{ docker_network_name }}:
    external: true