services:
  node-exporter:
    image: prom/node-exporter:v1.8.0
    container_name: node-exporter
    uts: host
    restart: unless-stopped

    volumes:
      - /proc:/host/proc:ro
      - /sys:/host/sys:ro
      - /:/rootfs:ro

    command:
      - '--path.procfs=/host/proc'
      - '--path.sysfs=/host/sys'
      - '--path.rootfs=/rootfs'

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  prometheus:
    image: prom/prometheus:v2.53.0
    container_name: prometheus
    restart: unless-stopped

    networks:
      - default
      - {{ docker_network_name }}

    volumes:
      - ./prometheus/prometheus.yml:/etc/prometheus/prometheus.yml:ro
      - ./prometheus/data:/prometheus
      - ./prometheus/rules:/etc/prometheus/rules:ro

    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.enable-lifecycle'

    deploy:
      resources:
        limits:
          memory: 512m

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  grafana:
    image: grafana/grafana:11.0.0
    container_name: grafana
    restart: unless-stopped

    ports:
      - "{{ ansible_host }}:{{ grafana_port }}:3000"

    networks:
      - default
      - {{ docker_network_name }}

    volumes:
      - ./grafana/data:/var/lib/grafana

    deploy:
      resources:
        limits:
          memory: 512m

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

networks:
  {{ docker_network_name }}:
    external: true
