port {{ redis_sentinel_port }}

sentinel announce-ip {{ ansible_host }}
sentinel announce-port {{ redis_sentinel_port }}

sentinel monitor {{ redis_sentinel_master_name }} {{ redis_master_host }} {{ redis_port }} 2
sentinel auth-pass {{ redis_sentinel_master_name }} {{ redis_password }}
sentinel down-after-milliseconds {{ redis_sentinel_master_name }} 5000
sentinel failover-timeout {{ redis_sentinel_master_name }} 30000
sentinel parallel-syncs {{ redis_sentinel_master_name }} 1
