apiVersion: v1
kind: Secret
metadata:
  name: ruoyi-secret
  namespace: {{ ruoyi_k3s_namespace }}
type: Opaque
data:
  SPRING_DATASOURCE_DRUID_MASTER_USERNAME: "{{ ruoyi_datasource_username | b64encode }}"
  SPRING_DATASOURCE_DRUID_MASTER_PASSWORD: "{{ ruoyi_datasource_password | b64encode }}"
  SPRING_DATA_REDIS_PASSWORD: "{{ ruoyi_redis_password | b64encode }}"