services:
  diary:
    image: neosmemo/memos:0.26
    container_name: diary
    restart: unless-stopped

    ports:
      - "{{ ansible_host }}:5230:5230"

    networks:
      - {{ docker_network_name }}

    volumes:
      - ./data:/var/opt/memos

    deploy:
      resources:
        limits:
          memory: 256M

    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"

  diary-assets:
    image: nginx:1.27-alpine
    container_name: diary-assets
    restart: unless-stopped

    ports:
      - "{{ ansible_host }}:{{ diary_assets_port }}:80"

    networks:
      - {{ docker_network_name }}

    volumes:
      - ./assets:/usr/share/nginx/html:ro

    deploy:
      resources:
        limits:
          memory: 64M

networks:
  {{ docker_network_name }}:
    external: true
