services:
  {{ ruoyi_instance }}:
    image: {{ registry_host }}/{{ ruoyi_image_name }}:{{ ruoyi_image_tag }}
    container_name: {{ ruoyi_instance }}
    restart: unless-stopped

    ports:
      - "{{ ansible_host }}:{{ ruoyi_port }}:8080"

    networks:
      - {{ docker_network_name }}

    environment:
      - LANG=C.UTF-8
      - JAVA_TOOL_OPTIONS=-Dfile.encoding=UTF-8 -Xms1024m -Xmx1024m -XX:MetaspaceSize=256m -XX:MaxMetaspaceSize=256m
      - SPRING_DATASOURCE_DRUID_MASTER_URL=jdbc:mysql://${DB_HOST}:${DB_PORT}/ry-vue?useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=convertToNull&useSSL=false&serverTimezone=Asia/Shanghai
      - SPRING_DATASOURCE_DRUID_MASTER_USERNAME=${DB_USER}
      - SPRING_DATASOURCE_DRUID_MASTER_PASSWORD=${DB_PASS}
      - SPRING_DATA_REDIS_SENTINEL_MASTER={{ redis_sentinel_master_name }}
      - SPRING_DATA_REDIS_SENTINEL_NODES={{ redis_sentinel_hosts | map('extract', hostvars, 'ansible_host') | map('regex_replace', '$', ':' ~ redis_sentinel_port) | join(',') }}
      - SPRING_DATA_REDIS_PASSWORD=${RUOYI_REDIS_PASS}

networks:
  {{ docker_network_name }}:
    external: true
